.navigation {
  width: 100%;
  height: 80px;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-items: center;
}

.navigation .logo {
  margin-left: 25px;
}

.fraction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 80px;
}

.fraction-input,
.fraction-control-container,
.fraction-control-top,
.fraction-control-bottom,
.fraction-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fractionInput {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #8190fc;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.fractionDivider {
  width: 100%;
  height: 3px;
  background: #8190fc;
}

.fraction-control-button {
  width: 13px;
  height: 13px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.fraction-control-top {
  margin-bottom: 3px;
}
.fraction-control-bottom {
  margin-top: 3px;
}

.fraction-control-button-up {
  background: url("../assets/up.svg") no-repeat;
}
.fraction-control-button-down {
  background: url("../assets/down.svg") no-repeat;
}

.fraction-control {
  margin-left: 10px;
  margin-top: 5px;
}
